<launch>
# to set logger level to DEBUG
<env
name="ROSCONSOLE_CONFIG_FILE"
value="$(find beginner_tutorials)/debug.conf"
/>

# define arguments to be taken by launch file
<arg
name="Frequency"
default="15"
/>

# Argument for recording initially set to false 
<arg
    name="Record"
    default = "false"
/>

# to initiate talker in new terminal with arguments
# condition for roslaunch to be ok.
# argument passed in talker
<node
pkg="beginner_tutorials"
type="talker"
name="talker"
required ="true"
launch-prefix="xterm -e"
args = "$(arg Frequency)"
/>

# to initiate Listener in new window
# to generate again when terminal closed
<node
pkg="beginner_tutorials"
type="listener"
name="listener"
respawn="true"
launch-prefix="xterm -e"
/>
# node for recording the ROS bag with argument
<node
    pkg = "rosbag"
    name = "record"
    type = "record"
    args = "-a -O $(find beginner_tutorials)/results/RecordTalker.bag"
    if = "$(arg Record)"
/>


</launch>
